<h1>Movies:</h1>
<ul><% @movies.each do |movie| %>
    <li><a href="/movies/<%= movie.id%>"><%= movie.name %></a></li>
        
<% end %></ul>

<% if logged_in? %>
    <h3>You are logged in as: <%= current_user.username %> </h3>
    <a href="/logout">Log out here</a>
<% end %>
