<h1>Make A New Movie</h1>
<form method="POST" action="/movies">
    Name: <input type="text" name="name" required><br>
    Year: <input type="integer" name="year"><br>
    Genre: <input type="text" name="genre"><br>

    <input type="submit" value="Create A Movie">
</form>